<ion-header>
  <ion-toolbar>
    <ion-title>descriptions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="img">
      <span><img src="./assets/images/fms.png"></span>
    </div>
    <ion-card-header>
      <ion-card-title>"Spend, save, and give toward what's important in life'</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>A FINANCIAL MAANAGEMENT SYSTEM (FMS) can be an effective way, to budget for anyone that needs a VIRTUAl budget to stay on track. Not only wil this method help keep your spending in check, but also FMS may lead to spending less money! </p>
    </ion-card-content>
  </ion-card>
</ion-content>
